* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

h3 {
    color: hsl(218, 44%, 22%);
}

p {
    color: hsl(220, 15%, 55%);
}







/* provided from project */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }